# ボットのアクセストークンが含まれてるんで、除外しないと不味いです。

/config.json

# 一々ワード更新の為にコミットしたくないのと、内輪ノリ、身内ネタが含まれるので除外します。
# jsonは[]内に{"theme"と"word":["A","B"]}といった用にいつも通りjson形式でワードを陳列してください。似たような単語群をひとかたまりにするとよいです。
/gameData/
